.dishHeaderPrice {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.dishHeaderPrice h3 {
   margin: 0;
   color: #f8f5f6;
}

.dishHeaderPrice span {
   font-weight: bold;
   color: #ffe909;
}
p {
   margin-top: 0.25rem;
   color: #f0eced;
}
