* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body {
   background-color: #151415;
}
body,
#root {
   font-family: "Lato", sans-serif;
   letter-spacing: 1px;
   min-height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #f3eef2;
}
h1 {
   width: 100%;
   text-align: center;
   color: hsla(51, 100%, 50%, 0.75);
   font-size: 3rem;
   text-decoration: underline;
}
