* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body {
   font-family: "Quicksand", sans-serif;
   min-height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #2b262d;
   color: #f3eef2;
}
h1 {
   width: 100%;
   text-align: center;
   color: #fed300;
   font-size: 3rem;
   text-decoration: underline;
}
